@import "tailwindcss";

/* Subtítulos de las secciones */
.section-title {
  @apply text-lg font-semibold text-gray-800 mb-4; /* Tailwind */
}

/* Inputs del formulario */
.form-input {
  @apply w-full border border-gray-300 rounded-md px-2 py-1 text-sm; /* Tamaño más compacto */
}

/* Contenedores de sección */
.form-section {
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.text-small {
    font-size: 12px;
}
